.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9796f0;
  padding: 5px;
}

.emoji-game-logo-container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.emoji-game-heading {
  color: #ffffff;
  margin-left: 4px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  width: 100%;
}

.score-top-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.top-score-heading {
  color: #ffffff;
}

.score-heading {
  color: #ffffff;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .emoji-game-logo-container {
    margin-left: 40px;
  }

  .score-top-score-container {
    margin-right: 40px;
  }

  .score-heading {
    margin-right: 20px;
  }

  .emoji-game-heading {
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 15px;
  }
}
